* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    
}

@font-face {
    font-family: "Gotham-Book.otf";
    src: url("../fonts/Gotham-Book.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Bold.otf";
    src: url("../fonts/Gotham-Bold.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Medium.otf";
    src: url("../fonts/Gotham-Medium.otf") format(truetype);
}
@font-face {
    font-family: "Gotham-Light.otf";
    src: url("../fonts/Gotham-Light.otf") format(truetype);
}

/* HEADER */

header {
    background-color: #044c8c;
    display: grid;
    grid-template-areas: 
    "logo redes"
    "logo navegador"
    ;
}

.navegador #check__menu {
    display: none;
}
header .navegador label {
    display: none;
}


header .logo_teatro {
    grid-area: logo;
}

header .logo_teatro img {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

header .redes_sociales {
    grid-area: redes;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
}

.redes_sociales .redes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.redes_sociales .redes li {
    margin-left: 15px;
    margin-right: 20px;
}

.navegador {
    grid-area: navegador;
    display: flex;
    align-items: center;
    justify-content: flex-end;     
}

.navegador .navegadores__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
       
}

.navegadores__nav li {
    margin-left: 15px;
    margin-right: 20px;
}

.navegadores__nav a {
    color:aliceblue;
    font-family: "Gotham-Book.otf";
    text-decoration: none;
}

.navegadores__nav a:hover {
    font-family: "Gotham-Bold.otf"
}

/* INDEX MAIN */


.newsletter_suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: center;
    text-align: center;
}

.newsletter_suscripcion .texto {
    font-family: "Gotham-Bold.otf";
    padding-bottom: 15px;
}

.newsletter_suscripcion label {
    font-family: "Gotham-Light.otf";
}
.newsletter_suscripcion .input #email {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.newsletter_suscripcion button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
}


.ubicacion {
    text-align: center;
    margin-bottom: 40px;
}

.ubicacion h2 {
    padding-top: 50px;
    font-family: "Gotham-Bold.otf";
    padding-bottom: 15px;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #044c8c;
}
footer .zocalo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas: 
    "img1 img2 img3";
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 90px;
}

footer .zocalo .img1 {
    grid-area: img1;
}

footer .zocalo .img2 {
    grid-area: img2;
}

footer .zocalo .img3 {
    grid-area: img3;
}

footer .ayudas {
    display: flex;
    margin-left: 15px;
}



footer li .motivo {
    color: aliceblue;
    text-decoration: none;
}
footer li {
    margin-bottom: 15px;
}

footer h2 {
    color: aliceblue;
    font-size: 20px;
    font-family: "Gotham-Bold.otf";
    width: 200px;
    margin-right: 80px;
    margin-bottom: 30px;
}

footer h3 {
    color: aliceblue;
    font-size: 20px;
    font-family: "Gotham-Bold.otf";
    width: 300px;
}

footer h4 {
    font-size: 13px;
    font-family: "Gotham-Book.otf";
    color: rgb(242, 255, 240);
    text-decoration: none;
    
}

footer .ubicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ubicacion_teatro {
    margin-right: 40px;
}


/* Mediaqueries */

@media (max-width: 680px) {
    .navegador .navegadores__nav {
        display: none;
    }
    header .navegador label {
        display: block;
        margin-right: 15px;
    }
    .navegador #check__menu:checked~.navegadores__nav {
        background-color: #044d8c68;
        width: 100%;
        position: absolute;
        z-index:9999;
        padding-top: 30px;
        left: 0;
        top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navegadores__nav li {
        margin-bottom: 15px;
    }

    .redes_sociales .redes li {
        margin-left: 0px;
        margin-right: 0px;
    }
    .redes_sociales .redes {
        width: 100%;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .newsletter_suscripcion .input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter_suscripcion .input label,
    .newsletter_suscripcion .input input,
    .newsletter_suscripcion .inputbutton {
        margin-bottom: 10px;
    }
    footer .zocalo {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img1 img1"
        "img2 img3";
        justify-items: center;  
    }
    footer .img1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 570px) {
    footer .ayudas {
        display: block;
        text-align: center;
    }
    footer h2,
    footer h3,
    footer h4,
    .ubicaciones ul {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    footer .sector_ayudas {
        margin-bottom: 80px;
    }
    footer .zocalo {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3";
    }
    footer .zocalo .img2 {
        margin-bottom: 30px;
    }

    footer .zocalo img {
        margin-bottom: 20px;
    }

    footer ul {
        padding-left: 0px;
    }

    footer .ayudas {
        margin-right: 15px;
    }

}



    