* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    
}

@font-face {
    font-family: "Gotham-Book.otf";
    src: url("../fonts/Gotham-Book.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Bold.otf";
    src: url("../fonts/Gotham-Bold.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Medium.otf";
    src: url("../fonts/Gotham-Medium.otf") format(truetype);
}
@font-face {
    font-family: "Gotham-Light.otf";
    src: url("../fonts/Gotham-Light.otf") format(truetype);
}

/* HEADER */

header {
    background-color: #044c8c;
    display: grid;
    grid-template-areas: 
    "logo redes"
    "logo navegador"
    ;
}

.navegador #check__menu {
    display: none;
}
header .navegador label {
    display: none;
}


header .logo_teatro {
    grid-area: logo;
}

header .logo_teatro img {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

header .redes_sociales {
    grid-area: redes;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
}

.redes_sociales .redes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.redes_sociales .redes li {
    margin-left: 15px;
    margin-right: 20px;
}

.navegador {
    grid-area: navegador;
    display: flex;
    align-items: center;
    justify-content: flex-end;     
}

.navegador .navegadores__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
       
}

.navegadores__nav li {
    margin-left: 15px;
    margin-right: 20px;
}

.navegadores__nav a {
    color:aliceblue;
    font-family: "Gotham-Book.otf";
    text-decoration: none;
}

.navegadores__nav a:hover {
    font-family: "Gotham-Bold.otf"
}

/* INDEX MAIN */

main .carousel-caption {
    background-color: rgba(213, 212, 212, 0.366);
    border-radius: 5px;
}

main .carousel-caption h5 {
    font-family: "Gotham-Bold.otf";
}

main .carousel-caption p {
    font-family: "Gotham-Book.otf";
}

.newsletter_suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: center;
    text-align: center;
}

.newsletter_suscripcion .texto {
    font-family: "Gotham-Bold.otf";
    padding-bottom: 15px;
}

.newsletter_suscripcion label {
    font-family: "Gotham-Light.otf";
}
.newsletter_suscripcion .input #email {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.newsletter_suscripcion button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

/* NSOTROS */

.nosotros {
    width: 80%;
    margin: 0px auto;
    display: block;
}

.nosotros h3 {
    text-align: center;
    font-family: "Gotham-Bold.otf";
    font-size: 20px;
    margin:  20px;
}

.nosotros h5{
    text-align: justify;
    font-family: "Gotham-Light.otf";
    line-height: 1.5;
    text-indent: 40px;
    font-size: 15px;
    margin-bottom: 20px;
}

.nosotros img {
    width: 100%;
    margin-bottom: 50px;
}

.territorio img {
    margin-right: 15px;
}
.territorio_info {
    display: flex
}

.ubicacion {
    text-align: center;
    margin-bottom: 40px;
}

.ubicacion h2 {
    padding-top: 50px;
    font-family: "Gotham-Bold.otf";
    padding-bottom: 15px;
}

/* CARTELERA */

.cartelera_container {
    width: 90%;
    margin: 0px auto;
}

.buscador_container {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.buscador_container .elementos {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-areas: 
    "ele1 ele1"
    "ele2 ele3";
    width: 400px;
    align-items: center;
}

.buscador_container .elementos .ele1 {
    grid-area: ele1;
    display: flex;
    justify-content: start;
    text-align: center;

}

.buscador_container .elementos .ele2 {
    grid-area: ele2;
    width: 95%;
}

.buscador_container .elementos .ele3 {
    grid-area: ele3;
}

.buscador_container label {
    font-family: "Gotham-Bold.otf";
    font-size: 20px;

}

.buscador_container input {
    height: 23px;
    border-radius: 5px;
}

.buscador_container button {
    height: 30px;
    width: 70px;
    border-radius: 5px;
}

.cartelera_container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartelera_container .card {
    margin: 5px;
}

.btn {
    background-color: #044c8c;
    font-family: "Gotham-Light.otf";
}

.btn:hover {
    background-color: #038161;
    font-family: "Gotham-Medium.otf";
}

.cartelera_container .fotos {
    padding-left: 0px;
}

/* GALERIA */

.titulo_galeria {
    font-family: "Gotham-Bold.otf";
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.galeria_fotos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    
}

.galeria_fotos .foto {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
}

.galeria_fotos .foto img {
    max-width: 100%;
    height: auto;
    display: block;
}

.galeria_fotos img {
    border: solid 1px;

}

.galeria_fotos .foto1,
.galeria_fotos .foto5,
.galeria_fotos .foto9 {
    grid-row: span 2;
}


/* FOOTER */

footer {
    width: 100%;
    background-color: #044c8c;
}
footer .zocalo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas: 
    "img1 img2 img3";
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 90px;
}

footer .zocalo .img1 {
    grid-area: img1;
}

footer .zocalo .img2 {
    grid-area: img2;
}

footer .zocalo .img3 {
    grid-area: img3;
}

footer .ayudas {
    display: flex;
    margin-left: 15px;
}



footer li .motivo {
    color: aliceblue;
    text-decoration: none;
}
footer li {
    margin-bottom: 15px;
}

footer h2 {
    color: aliceblue;
    font-size: 20px;
    font-family: "Gotham-Bold.otf";
    width: 200px;
    margin-right: 80px;
    margin-bottom: 30px;
}

footer h3 {
    color: aliceblue;
    font-size: 20px;
    font-family: "Gotham-Bold.otf";
    width: 300px;
}

footer h4 {
    font-size: 13px;
    font-family: "Gotham-Book.otf";
    color: rgb(242, 255, 240);
    text-decoration: none;
    
}

footer .ubicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ubicacion_teatro {
    margin-right: 40px;
}


/* Mediaqueries */

@media (max-width: 680px) {
    .navegador .navegadores__nav {
        display: none;
    }
    header .navegador label {
        display: block;
        margin-right: 15px;
    }
    .navegador #check__menu:checked~.navegadores__nav {
        background-color: #044d8c68;
        width: 100%;
        position: absolute;
        z-index:9999;
        padding-top: 30px;
        left: 0;
        top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navegadores__nav li {
        margin-bottom: 15px;
    }

    .redes_sociales .redes li {
        margin-left: 0px;
        margin-right: 0px;
    }
    .redes_sociales .redes {
        width: 100%;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .newsletter_suscripcion .input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter_suscripcion .input label,
    .newsletter_suscripcion .input input,
    .newsletter_suscripcion .inputbutton {
        margin-bottom: 10px;
    }
    footer .zocalo {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img1 img1"
        "img2 img3";
        justify-items: center;  
    }
    footer .img1 {
        margin-bottom: 30px;
    }

    .nosotros {

    }
}

@media (max-width: 570px) {
    
    main .carousel-caption p {
        display: none;
    }
    
    
    footer .ayudas {
        display: block;
        text-align: center;
    }
    footer h2,
    footer h3,
    footer h4,
    .ubicaciones ul {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    footer .sector_ayudas {
        margin-bottom: 80px;
    }
    footer .zocalo {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3";
    }
    footer .zocalo .img2 {
        margin-bottom: 30px;
    }

    footer .zocalo img {
        margin-bottom: 20px;
    }

    footer ul {
        padding-left: 0px;
    }

    footer .ayudas {
        margin-right: 15px;
    }
    .buscador_container .elementos {
        grid-template-columns: 1fr 30px;
        grid-template-areas: 
        "ele1 ele1"
        "ele2 ele3";
        width: 250px;
        align-items: center;
    }
    .buscador_container .elementos .ele1 {
        display: none;
    }
}



    