@import "./partials/fuentes";

$color-institucional: #044c8c;

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    
}
/* HEADER */

header {
    background-color: $color-institucional;
    display: grid;
    grid-template-areas: 
    "logo redes"
    "logo navegador"
    ;

    .logo_teatro {
        grid-area: logo;
        
        img {
            margin-left: 20px;
            margin-bottom: 5px;
            margin-top: 20px;
        }
    }

    .redes_sociales {
        grid-area: redes;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .redes {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            li {
                margin-left: 15px;
                margin-right: 20px;
            }
        }
    }

    .navegador {

        #check__menu {
            display: none;
        }

        label {
            display: none;
        }

        grid-area: navegador;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .navegadores__nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            
            li {
                margin-left: 15px;
                margin-right: 20px;
            }

            a {
                color:aliceblue;
                font-family: "Gotham-Book.otf";
                text-decoration: none;
            }
            a:hover {
                font-family: "Gotham-Bold.otf";
            }

            .pagina_actual {
                font-family: "Gotham-Bold.otf";
                border-bottom: solid 2px white;
            }
        }    
    }
}

/* INICIO DEL INDEX-MAIN*/

main {
    .carousel-caption {
        background-color: rgba(213, 212, 212, 0.366);
        border-radius: 5px;

        h5 {
            font-family: "Gotham-Bold.otf";
        }

        p {
            font-family: "Gotham-Book.otf";
        }
    }

    .newsletter_suscripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        justify-content: center;
        text-align: center;

        .texto {
            font-family: "Gotham-Bold.otf";
            padding-bottom: 15px;
        }

        label {
            font-family: "Gotham-Light.otf";
        }

        .input {
            #email {
                width: 300px;
                height: 30px;
                border-radius: 10px;
            }

            input {
                border: solid 1px;
            }

            input:focus {
                border: solid 1.5px #029d36;
            }
        }

        button {
            height: 30px;
            width: 110px;
            border-radius: 5px;
            font-family: "Gotham-Book.otf";
            background-color: $color-institucional;
            border: none;
            color: white;
        }

        button:hover {
            background-color: #038161;
            font-family: "Gotham-Medium.otf";
        }

        button:active{
            background-color: #038161;
        }
    }

    .ubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Gotham-Bold.otf";
            padding-bottom: 15px;
        }

        .mapa {
            width: 80%;
            margin-bottom: 100px;
        }

    }
}

/* INICIO PAGINA "NOSOTROS" */

.nosotros {
    width: 80%;
    margin: 0px auto;
    display: block;

    h3 {
        text-align: center;
        font-family: "Gotham-Bold.otf";
        font-size: 20px;
        margin:  20px;
    }

    h5{
        text-align: justify;
        font-family: "Gotham-Light.otf";
        line-height: 1.5;
        text-indent: 40px;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .foto_frente_teatro {
        img {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .info_territorio {
        img {
            margin-right: 15px;
            width: 100%;
        }
    }

    .nuestra_sala {
        text-align: center;
        margin-bottom: 40px;

        h2 {
            padding-top: 50px;
            font-family: "Gotham-Bold.otf";
            padding-bottom: 15px;
        }

        img {
            width: 100%;
        }
    }
}

/* INICIO PÁGINA DE CARTELERA*/

.cartelera_container {
    width: 90%;
    margin: 0px auto;

    .buscador_container {
        margin-top: 20px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;

        label {
            font-family: "Gotham-Bold.otf";
            font-size: 20px;
        }

        input {
            height: 23px;
            border-radius: 5px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        button {
            height: 30px;
            width: 110px;
            border-radius: 5px;
            font-family: "Gotham-Book.otf";
            background-color: $color-institucional;
            border: none;
            color: white;
        }

        button:hover {
            background-color: #038161;
            font-family: "Gotham-Medium.otf";
        }

        button:active{
            background-color: #038161;
        }

        .elementos {
            display: grid;
            grid-template-columns: 1fr 30px;
            grid-template-areas: 
            "ele1 ele1"
            "ele2 ele3";
            width: 400px;
            align-items: center;

            .ele1 {
                grid-area: ele1;
                display: flex;
                justify-content: start;
                text-align: center;
            }

            .ele2 {
                grid-area: ele2;
                width: 95%;
            }

            .buscador_container .elementos .ele3 {
                grid-area: ele3;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .cartelera {
        .espectaculos {
            padding-left: 0px;

            .card {
                margin: 5px;
                width: 18rem;
        
                .btn-cartelera {
                    background-color: $color-institucional;
                    font-family: "Gotham-Light.otf";
                }
        
                .btn-cartelera:hover {
                    background-color: #038161;
                    font-family: "Gotham-Medium.otf";
                }
            }
        }
    }
}

/* INICIO PAGINA DE GALERÍA */

.galeria {
    .titulo_galeria {
        font-family: "Gotham-Bold.otf";
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    
    .galeria_fotos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        padding: 20px;
        
        .foto {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: start;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                display: block;
                border: solid 1px;
            }
        }

        .foto1,
        .foto5,
        .foto9 {
            grid-row: span 2;
        }
    }
}

/* INICIO PÁGINA DE CONTACTO */

.formulario_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;

    h1 {
        font-family: "Gotham-Bold.otf";
        font-size: 20px;
    }

    .encabezado {
        text-align: center;
        margin-top: 20px;
    }

    .caja {
        background-color: #9dc8ee;
        margin: 20px;
        border: solid;
        border-color: #044c8c;
        border-radius: 10px;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-areas: 
        "datos mensaje";
    }

    .elemento_n1 {
        grid-area: datos;
        padding: 40px;

        .contenedor {
            display: flex;
            flex-direction: row;
            justify-content: right;
            margin-right: 50px;

            .datos_personales {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 20px;

                label {
                    font-family: "Gotham-Book.otf";
                    font-size: 15px;
                    margin-bottom: 17px;
                    text-align: right;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 350px;
                height: 40px;

                .dato_personal::placeholder {
                    color: transparent;
                }

                input:focus {
                    border-color: #029d36;
                }
            }   
        }
    
    }

    .elemento_n2 {
        grid-area: mensaje;
        padding: 40px;

        #comentario {
            width: 350px;
        }

        .boton {
            margin-top: 10px;
            width: 350px;
            display: flex;
            justify-content: end;

            button {
                padding: 5px;
                width: 90px;
                border-radius: 5px;
                font-family: "Gotham-Book.otf";
                background-color: #044c8c;
                border: none;
                color: white;
            }

            button:hover {
                background-color: #038161;
                font-family: "Gotham-Medium.otf";
            }
            
            button:active{
                background-color: #038161;
            }
        }
    }    
}

/* INICIO DE FOOTER */

footer {
    width: 100%;
    background-color: $color-institucional;

    .zocalo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-areas: 
        "img1 img2 img3";
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 90px;

        .img1 {
            grid-area: img1;
        }

        .img2 {
            grid-area: img2;
        }

        .img3 {
            grid-area: img3;
        }
    }

    .ayudas {
        display: flex;
        margin-left: 15px;

        h2 {
            color: aliceblue;
            font-size: 20px;
            font-family: "Gotham-Bold.otf";
            width: 200px;
            margin-right: 80px;
            margin-bottom: 30px;
        }

        h3 {
            color: aliceblue;
            font-size: 20px;
            font-family: "Gotham-Bold.otf";
            width: 300px;
        }

        h4 {
            font-size: 13px;
            font-family: "Gotham-Book.otf";
            color: rgb(242, 255, 240);
            text-decoration: none;
            
        }

        li {
            margin-bottom: 15px;

            .motivo {
                color: aliceblue;
                text-decoration: none;
            }
        }

        .ubicaciones {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .ubicacion_teatro {
                margin-right: 40px;
            }
        }
    }
}



/* QUERIES */
@import "./partials/queries"







