.logo_teatro a .logo_img {
    content: url("../images/logos/logoteatro.png");

    @if ($logo_festivo == "navidad") {
        content: url("../images/logos/logoteatro_navidad.png");
    } @else if ($logo_festivo == "pascuas") {
        content: url("../images/logos/logoteatro_pascuas.png");
    }
}


