@font-face {
    font-family: "Gotham-Book.otf";
    src: url("../fonts/Gotham-Book.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Bold.otf";
    src: url("../fonts/Gotham-Bold.otf") format(truetype);
}

@font-face {
    font-family: "Gotham-Medium.otf";
    src: url("../fonts/Gotham-Medium.otf") format(truetype);
}
@font-face {
    font-family: "Gotham-Light.otf";
    src: url("../fonts/Gotham-Light.otf") format(truetype);
}