
@import "./variables";
@import "./mixin";
/* INICIO DE FOOTER */

footer {
    width: 100%;
    

    .zocalo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-areas: 
        "img1 img2 img3";
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 90px;

        .img1 {
            grid-area: img1;
        }

        .img2 {
            grid-area: img2;
        }

        .img3 {
            grid-area: img3;
        }
    }

    .sector_ayudas {
        background-color: $color-institucional;
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: center;

        .ayudas_container {
            display: flex;
            margin-right: 40px;

            .ayuda_titulo {
                width: 300px;
                margin-right: 40px;
                text-align: right;
                font-family: $bold;
                color: aliceblue;
            }

            .ayudas_motivos {
                margin-right: 40px;
                width: 300px;
                
                a {
                    text-decoration: none;
                    font-family: $book;
                    color: aliceblue;
                }

                h4 {
                    margin-bottom: 35px;
                }
            }
        }

        .ubicaciones_container {
            display: flex;
            padding-right: 40px;

            .ayuda_titulo {
                width: 300px;
                margin-right: 40px;
                text-align: right;
                font-family: $bold;
                color: aliceblue;
            }

            .ubicaciones {
                
                .ubicacion_titulo {
                    font-family: $bold;
                    color: aliceblue;
                }

                .contenido {
                    font-family: $book;
                    color: aliceblue;
                }

                .ubicacion_teatro {
                    width: 350px;
                    margin-bottom: 35px;
                }

                .ubicacion_secretaria {
                    width: 350px;
                }
            }
        }
    }
    
    .footer_gotop {
        display: flex;
        justify-content: end;
        width: 100%;
        background-color: $color-institucional;
        padding-right: 15px;
        padding-bottom: 15px;
        
        img {
            @include sizes(80px, 80px);
        }
    }
}