@import "./variables";
@import "./mixin";
/* INICIO PAGINA DE GALERÍA */

.galeria {
    .titulo_galeria {
        font-family: $bold;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    
    .galeria_fotos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        padding: 20px;
        
        .foto {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: start;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                display: block;
                border: solid 1px;
            }
        }

        .small {
            cursor: pointer;
        }

        .foto1,
        .foto5,
        .foto9 {
            grid-row: span 2;
        }
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0px;
        @include sizes(100%,100%);
        background-color: rgba(0, 0, 0, 0.821);
        z-index: 1;
        overflow: auto;

        .imagen_ampliada {

            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .cerrar {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
      }

      
}